/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif;}
.wrap {
  width: 900px;
  margin: auto;
}
h1, h2, b {
  font-family: 'Poppins', sans-serif;
}
.mat-row {
  height: auto;
}

.mat-cell {
  padding: 0 8px;
}
